* {
    font-family:'Hanken Grotesk';
    border: 1px solid;
    border-color: blueviolet;
}

.header {
    background-color: rgb(5, 113, 113);
    text-align: center;
    color: whitesmoke;
    line-height: 2;
}

#search-input {
    display: flex;
    flex-direction: column;
    line-height: 1.75;
    width: 177px;
}


.btn {
    margin-top: 5px;
    width: 177px;
    background-color: rgb(28, 28, 132);
    border-radius: 5px;
    color: aliceblue;
}

.btn:hover {
    cursor: pointer;
    background-color: rgb(5, 113, 113);
}

.custom-button {
    margin-top: 5px;
    width: 177px;
    background-color: gray;
    border-radius: 5px;
    color: aliceblue;
    margin-top: 25px;
}

#break {
    width: 177px;
    position: absolute;
}

.current-city-container {
display: flex;    
background-color: whitesmoke;
border: 1px solid;
border-color: black;
height: 150px;
margin-top: 50px;
align-self: flex-start;
margin-left: auto;
margin-right: auto;
}

#current-city-content {

}