* {
    font-family:'Hanken Grotesk';
    /* border: 1px solid;
    border-color: blueviolet; */
}

.header {
    background-color: rgb(5, 113, 113);
    text-align: center;
    color: whitesmoke;
    line-height: 2;
}

#search-input {
    display: flex;
    flex-direction: column;
    line-height: 1.75;
    width: 177px;
}


.btn {
    margin-top: 5px;
    width: 177px;
    background-color: rgb(28, 28, 132);
    border-radius: 5px;
    color: aliceblue;
}

.btn:hover {
    cursor: pointer;
    background-color: rgb(5, 113, 113);
}

.custom-button {
    margin-top: 5px;
    width: 177px;
    background-color: gray;
    border-radius: 5px;
    color: aliceblue;
    margin-top: 25px;
    visibility: hidden;
}

#break {
    width: 177px;
    position: absolute;
}

.current-city-container {
display: flex;    
background-color: rgb(5, 113, 113);
color: white;
border: 1px solid;
border-color: black;
height: 200px;
width: 400px;
margin-top: 50px;
align-self: flex-start;
margin-left: auto;
margin-right: auto;
overflow: scroll;
box-shadow: 10px 10px;

}

#current-city-content {

    padding: 5px;
    
}

#forcast-city-container {
display: flex;    
background-color: whitesmoke;
border: 1px solid;
border-color: black;
height: 200px;
width: 800px;
margin-top: 50px;
justify-content: flex-start;
margin-left: 0;
margin-right: auto;
overflow: scroll;

}

#forecast-city-content {
    padding: 5px;
    display: flex;
    flex-direction: row;

    
}
#weather-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 200px;
    box-shadow: 10px 10px;

}
#search-container {
    margin-right: -500px;
    /* width: 500px; */
    height: 100%;
}

.day-forecast {
    overflow: scroll;
    background-color: rgb(5, 113, 113);
    color: white;
    padding: 5px;
    margin: 5px;
    box-shadow: 3px 3px gray;

}